@use "var" as *;

header{
    width: 35%;
    display: flex;
    justify-content: space-around;
}

img {
    width: 100%;
    margin-top: 35px;
    display: block;
}

.quote-img {
    position: relative;
    display: flex;
    justify-content: center;
    .quote {
        position: absolute;
        top: 200px;
        text-align: center;
        width: 100%;
        max-width: 700px;
        z-index: 1;
        background-color: $transparent-background-color;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    }
}


.img-credit {
    width: 80%;
    z-index: 2;
    background-color: $artist-background-color;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin-top: -10px;
    text-align: center;
}