@use "var" as *;

.h1-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    aspect-ratio: 1/1;
    margin: 15px;
    border-radius: 50%;
    background-color: $black;
    h1 { width: 70%; }
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    margin-top: 15px;
    border-radius: 50%;
    background-color: $black;
    animation: pulse 3s ease-in-out infinite alternate;
    i {
        color: $off-white;
        animation: rotate 4s infinite linear;
        @keyframes rotate {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
          }
    }
    @keyframes pulse {
        from { width: 125px; }
        to { width: 105px; }
      }
}
