@use "var" as *;

button {
    font-family: $header-font;
    font-size: 5.5rem;
    background-color: transparent;
    color: $pop-color;
    border: none;
    transition: 0.3s;
    &:hover,
    &:focus {
        color: $font-color;
    }
}

button {
    border: none;
    background-color: transparent;
    transition: 0.3s;
    &:hover,
    &:focus {
        color: $font-color;
    }
}

footer {
    position: absolute;
    bottom: 5px;
    right: 15px;
}