@use "var" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 7vh;
    padding: 40px 25px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color: $content-background;
}

footer {
    position: absolute;
    bottom: 5px;
    right: 15px;
}