//fonts
$header-font: 'Permanent Marker', Cursive;
$body-font: 'Overpass', Sans-Serif;

//background colors
$main-background: #d3d5c9;
$content-background: #e6f1e6;
$quote-background: rgba(230, 241, 230, 0.6);
$artist-background: #959593;

//font colors
$font-color: #18647a;
$pop-color: #6db8bb;
$black: #1c1c1c;