//fonts
$header-font: "Viaoda Libre", serif;
$body-font: "Italiana", serif;

//colors
$off-white: rgba(246, 240, 241, 1.00);
$off-white-opaque: rgba(246, 240, 241, 0.6);
$black: rgba(45, 45, 43, 1.00);
$pink: rgba(195, 158, 158, 1.00);
$dark-pink: rgba(153, 113, 121, 1.00);