$header-font: 'Permanent Marker', Cursive;
$body-font: 'Overpass', Sans-Serif;

$background-color: #e6f1e6;
$dark-background-color: #d3d5c9;
$font-color: #18647a;
$pop-color: #6db8bb;
$artist-background-color: #959593;